In [25]:
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
dat = pd.read_csv('../data/train_sample.csv')

In [3]:
dat.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [4]:
dat.loc[:, 'click_datetime'] = pd.to_datetime(dat.click_time, format='%Y-%m-%d %H:%M:%S')

In [5]:
dat.loc[:, 'date'] = dat.click_datetime.dt.date

In [6]:
dat.loc[:, 'minute'] = dat.click_datetime.dt.hour * 60 + dat.click_datetime.dt.minute

In [7]:
dat.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,click_datetime,date,minute
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,2017-11-07 09:30:38,2017-11-07,570
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,2017-11-07 13:40:27,2017-11-07,820
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,2017-11-07 18:05:24,2017-11-07,1085
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,2017-11-07 04:58:08,2017-11-07,298
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,2017-11-09 09:00:09,2017-11-09,540

In [8]:
gp_idm = dat.groupby(['ip', 'date', 'minute'])

In [9]:
clicks = gp_idm.size()

In [10]:
clicks.head()

ip  date        minute
9   2017-11-07  966       1
10  2017-11-07  97        1
                453       1
    2017-11-08  679       1
19  2017-11-08  552       1
dtype: int64

In [11]:
clicks.name = 'clicks'

In [14]:
def get_sum(col):
    res = gp_idm[col].nunique()
    res.name = col + 's'
    return res

In [15]:
apps = get_sum('app')

In [16]:
apps.head()

ip  date        minute
9   2017-11-07  966       1
10  2017-11-07  97        1
                453       1
    2017-11-08  679       1
19  2017-11-08  552       1
Name: apps, dtype: int64

In [17]:
devices = get_sum('device')

In [18]:
devices.head()

ip  date        minute
9   2017-11-07  966       1
10  2017-11-07  97        1
                453       1
    2017-11-08  679       1
19  2017-11-08  552       1
Name: devices, dtype: int64

In [19]:
oss = get_sum('os')

In [20]:
oss.head()

ip  date        minute
9   2017-11-07  966       1
10  2017-11-07  97        1
                453       1
    2017-11-08  679       1
19  2017-11-08  552       1
Name: oss, dtype: int64

In [21]:
channels = get_sum('channel')

In [22]:
channels.head()

ip  date        minute
9   2017-11-07  966       1
10  2017-11-07  97        1
                453       1
    2017-11-08  679       1
19  2017-11-08  552       1
Name: channels, dtype: int64

In [30]:
app_entropy = app_entropy_prep.groupby(level=[0, 1, 2]).sum()

In [31]:
app_entropy.head()

ip  date        minute
9   2017-11-07  966       0.0
10  2017-11-07  97        0.0
                453       0.0
    2017-11-08  679       0.0
19  2017-11-08  552       0.0
Name: app, dtype: float64

In [34]:
def get_entropy(col):
    values = gp_idm[col].value_counts(normalize=True)
    values_log = pd.Series(np.log(values), index=values.index)
    entropy_prep = - values * values_log
    entropy = entropy_prep.groupby(level=[0, 1, 2]).sum()
    entropy.name = col + '_ent'
    return entropy

In [35]:
app_entropy = get_entropy('app')

In [37]:
app_entropy.head()

ip  date        minute
9   2017-11-07  966       0.0
10  2017-11-07  97        0.0
                453       0.0
    2017-11-08  679       0.0
19  2017-11-08  552       0.0
Name: app_ent, dtype: float64

In [38]:
device_entropy = get_entropy('device')

In [39]:
device_entropy.head()

ip  date        minute
9   2017-11-07  966       0.0
10  2017-11-07  97        0.0
                453       0.0
    2017-11-08  679       0.0
19  2017-11-08  552       0.0
Name: device_ent, dtype: float64

In [40]:
os_entropy = get_entropy('os')

In [41]:
os_entropy.head()

ip  date        minute
9   2017-11-07  966       0.0
10  2017-11-07  97        0.0
                453       0.0
    2017-11-08  679       0.0
19  2017-11-08  552       0.0
Name: os_ent, dtype: float64

In [42]:
channel_entropy = get_entropy('channel')

In [43]:
channel_entropy.head()

ip  date        minute
9   2017-11-07  966       0.0
10  2017-11-07  97        0.0
                453       0.0
    2017-11-08  679       0.0
19  2017-11-08  552       0.0
Name: channel_ent, dtype: float64

In [44]:
agg_dat = pd.merge(dat, apps.reset_index(), on=['ip', 'date', 'minute'], how='left')

In [45]:
agg_dat.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,click_datetime,date,minute,apps
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,2017-11-07 09:30:38,2017-11-07,570,1
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,2017-11-07 13:40:27,2017-11-07,820,1
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,2017-11-07 18:05:24,2017-11-07,1085,1
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,2017-11-07 04:58:08,2017-11-07,298,1
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,2017-11-09 09:00:09,2017-11-09,540,1

In [46]:
def merge_feats(dat, feats):
    for feat in feats:
        dat = pd.merge(dat, feat.reset_index(), on=['ip', 'date', 'minute'], how='left')
    return dat

In [48]:
feats=[apps, app_entropy, devices, device_entropy, oss, os_entropy, channels, channel_entropy]
dat = merge_feats(dat, feats=feats)

In [49]:
dat.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,click_datetime,date,minute,apps,app_ent,devices,device_ent,oss,os_ent,channels,channel_ent
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,2017-11-07 09:30:38,2017-11-07,570,1,0.0,1,0.0,1,0.0,1,0.0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,2017-11-07 13:40:27,2017-11-07,820,1,0.0,1,0.0,1,0.0,1,0.0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,2017-11-07 18:05:24,2017-11-07,1085,1,0.0,1,0.0,1,0.0,1,0.0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,2017-11-07 04:58:08,2017-11-07,298,1,0.0,1,0.0,1,0.0,1,0.0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,2017-11-09 09:00:09,2017-11-09,540,1,0.0,1,0.0,1,0.0,1,0.0

In [50]:
from sklearn.ensemble import RandomForestClassifier

In [51]:
rfc = RandomForestClassifier()

In [58]:
train_features = ['app', 'apps', 'app_ent',
                  'device', 'devices', 'device_ent',
                  'os', 'oss', 'os_ent',
                  'channel', 'channels', 'channel_ent',
                  'minute', 'ip', 'is_attributed']

In [59]:
train = dat.loc[dat.click_datetime < '2017-11-09', train_features]

In [60]:
train.head()

,app,apps,app_ent,device,devices,device_ent,os,oss,os_ent,channel,channels,channel_ent,minute,ip,is_attributed
0,12,1,0.0,1,1,0.0,13,1,0.0,497,1,0.0,570,87540,0
1,25,1,0.0,1,1,0.0,17,1,0.0,259,1,0.0,820,105560,0
2,12,1,0.0,1,1,0.0,19,1,0.0,212,1,0.0,1085,101424,0
3,13,1,0.0,1,1,0.0,13,1,0.0,477,1,0.0,298,94584,0
7,9,1,0.0,1,1,0.0,25,1,0.0,442,1,0.0,601,121505,0

In [62]:
valid = dat.loc[dat.click_datetime >= '2017-11-09', train_features]

In [63]:
rfc.fit(train.iloc[:, :-1], train.iloc[:, -1])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [64]:
pred = rfc.predict(valid.iloc[:, :-1])

In [66]:
np.unique(pred)

array([0, 1])

In [67]:
rfc.predict?

In [68]:
from sklearn.metrics import precision_score, recall_score

In [70]:
precision_score(valid.iloc[:, -1], pred)

0.48275862068965519

In [71]:
recall_score(valid.iloc[:, -1], pred)

0.23728813559322035

In [72]:
valid.shape

(28561, 15)