In [1]:
%matplotlib inline
import pandas as pd

In [2]:
train_sample = pd.read_csv('../data/train_sample.csv')

In [3]:
train_sample.shape

(100000, 8)

In [4]:
train_sample.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [5]:
train_sample.sample(5)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
48548,7057,28,1,25,135,2017-11-09 04:10:56,NaN,0
24476,284086,64,1,12,459,2017-11-08 14:07:09,NaN,0
41453,28742,14,1,19,489,2017-11-09 14:31:24,NaN,0
31372,742,18,1,37,134,2017-11-07 10:05:52,NaN,0
90588,169080,18,1,10,439,2017-11-08 14:05:00,NaN,0

In [6]:
train_sample.isnull().sum()

ip                     0
app                    0
device                 0
os                     0
channel                0
click_time             0
attributed_time    99773
is_attributed          0
dtype: int64

In [7]:
train_sample.describe()

,ip,app,device,os,channel,is_attributed
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000
mean,91255.879670,12.04788,21.771250,22.818280,268.832460,0.002270
std,69835.553661,14.94150,259.667767,55.943136,129.724248,0.047591
min,9.000000,1.00000,0.000000,0.000000,3.000000,0.000000
25%,40552.000000,3.00000,1.000000,13.000000,145.000000,0.000000
50%,79827.000000,12.00000,1.000000,18.000000,258.000000,0.000000
75%,118252.000000,15.00000,1.000000,19.000000,379.000000,0.000000
max,364757.000000,551.00000,3867.000000,866.000000,498.000000,1.000000

In [8]:
train = pd.read_csv('../data/train.csv')

In [9]:
train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0

In [10]:
train.shape

(184903890, 8)

In [12]:
train.ip.nunique()

277396

In [15]:
train.loc[train.attributed_time.notnull(), 'is_attributed'].value_counts()

1    456846
Name: is_attributed, dtype: int64

In [16]:
train.is_attributed.value_counts()

0    184447044
1       456846
Name: is_attributed, dtype: int64

attributed_time is probably useless as in all cases it coexist with app installation

In [17]:
train.loc[train.ip == 83230]

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
24831,83230,2,1,3,477,2017-11-06 16:00:31,NaN,0
43179,83230,12,1,13,178,2017-11-06 16:00:48,NaN,0
44757,83230,9,1,13,134,2017-11-06 16:00:50,NaN,0
51216,83230,2,1,19,237,2017-11-06 16:00:56,NaN,0
52769,83230,15,1,13,245,2017-11-06 16:00:57,NaN,0
56410,83230,6,1,13,125,2017-11-06 16:01:01,NaN,0
75614,83230,2,1,13,258,2017-11-06 16:01:20,NaN,0
75835,83230,3,1,13,135,2017-11-06 16:01:21,NaN,0
75905,83230,3,1,13,115,2017-11-06 16:01:21,NaN,0
81432,83230,9,1,13,442,2017-11-06 16:01:27,NaN,0
85081,83230,25,1,13,259,2017-11-06 16:01:31,NaN,0
90421,83230,25,1,13,259,2017-11-06 16:01:37,NaN,0
113844,83230,2,1,19,243,2017-11-06 16:02:05,NaN,0
114842,83230,9,1,19,232,2017-11-06 16:02:06,NaN,0
163965,83230,3,1,13,480,2017-11-06 16:03:03,NaN,0
164588,83230,15,1,13,153,2017-11-06 16:03:04,NaN,0
165271,83230,2,1,13,435,2017-11-06 16:03:05,NaN,0
165658,83230,14,1,13,379,2017-11-06 16:03:05,NaN,0
170757,83230,6,1,13,125,2017-11-06 16:03:11,NaN,0
172726,83230,13,1,13,477,2017-11-06 16:03:14,NaN,0
179876,83230,15,1,13,245,2017-11-06 16:03:23,NaN,0
180057,83230,3,1,13,211,2017-11-06 16:03:23,NaN,0
181043,83230,1,1,13,135,2017-11-06 16:03:25,NaN,0
186473,83230,12,1,13,481,2017-11-06 16:03:32,NaN,0
197053,83230,3,1,13,424,2017-11-06 16:03:45,NaN,0
202710,83230,26,1,13,266,2017-11-06 16:03:53,NaN,0
209369,83230,6,1,13,125,2017-11-06 16:04:01,NaN,0
214674,83230,8,1,19,145,2017-11-06 16:04:09,NaN,0
216692,83230,8,1,19,145,2017-11-06 16:04:11,NaN,0
...,...,...,...,...,...,...,...,...
184748061,83230,3,1,14,442,2017-11-09 15:56:28,NaN,0
184748835,83230,14,1,14,379,2017-11-09 15:56:29,NaN,0
184749102,83230,15,1,14,386,2017-11-09 15:56:29,NaN,0
184749864,83230,2,1,14,435,2017-11-09 15:56:30,NaN,0
184751070,83230,3,1,14,173,2017-11-09 15:56:32,NaN,0
184751660,83230,14,1,14,349,2017-11-09 15:56:33,NaN,0
184751883,83230,2,1,14,452,2017-11-09 15:56:33,NaN,0
184758615,83230,18,1,17,107,2017-11-09 15:56:43,NaN,0
184762008,83230,9,1,25,127,2017-11-09 15:56:48,NaN,0
184768479,83230,9,1,22,448,2017-11-09 15:56:57,NaN,0
184769088,83230,12,1,22,140,2017-11-09 15:56:57,NaN,0
184769674,83230,21,1,22,232,2017-11-09 15:56:58,NaN,0
184769681,83230,13,1,22,400,2017-11-09 15:56:58,NaN,0
184785316,83230,12,1,13,178,2017-11-09 15:57:20,NaN,0
184785802,83230,9,1,13,215,2017-11-09 15:57:21,NaN,0
184787205,83230,17,1,13,128,2017-11-09 15:57:22,NaN,0
184788246,83230,3,1,13,137,2017-11-09 15:57:24,NaN,0
184802950,83230,18,1,17,107,2017-11-09 15:57:44,NaN,0
184811960,83230,2,1,19,122,2017-11-09 15:57:57,NaN,0
184817700,83230,21,1,19,128,2017-11-09 15:58:05,NaN,0
184839274,83230,9,1,17,127,2017-11-09 15:58:35,NaN,0
184847712,83230,12,1,18,178,2017-11-09 15:58:47,NaN,0
184849141,83230,3,1,13,452,2017-11-09 15:58:49,NaN,0
184849149,83230,17,1,18,128,2017-11-09 15:58:49,NaN,0
184849516,83230,9,1,18,466,2017-11-09 15:58:49,NaN,0
184849616,83230,18,1,13,121,2017-11-09 15:58:49,NaN,0
184850021,83230,3,1,18,137,2017-11-09 15:58:50,NaN,0
184897738,83230,18,1,13,107,2017-11-09 15:59:52,NaN,0
184898463,83230,18,1,17,107,2017-11-09 15:59:53,NaN,0
184902071,83230,9,1,25,127,2017-11-09 15:59:58,NaN,0

Assume on one ip can have multiple people

In [13]:
test_sam = pd.read_csv('../data/test_supplement.csv')

In [14]:
test_sam.sample(5)

          click_id      ip  app  device  os  channel           click_time
54783524  54783524   95442    3       1   7      211  2017-11-10 15:03:23
37838817  37838817  114957    3       1  13      137  2017-11-10 09:43:44
52880974  52880974   55852   12       1  19      265  2017-11-10 14:27:50
46424794  46424794   91574   18       1  13      107  2017-11-10 12:27:12
51929180  51929180  108153   18       1  13      107  2017-11-10 14:10:51

Want to know new cases in test items?

In [18]:
test = pd.read_csv('../data/test.csv')

In [24]:
def count_new_items_in_test(column):
    print('Number of new items for {}'.format(column))
    return len(set(test.loc[:, column].tolist()) - set(train.loc[:, column].tolist()))

Not all ip in test are in train.

In [25]:
count_new_items_in_test('ip')

Number of new items for ip

55772

In [26]:
count_new_items_in_test('app')

Number of new items for app

24

In [27]:
count_new_items_in_test('device')

Number of new items for device

324

In [28]:
count_new_items_in_test('os')

Number of new items for os

56

In [29]:
count_new_items_in_test('channel')

Number of new items for channel

0

How many items of test rows in train?

In [34]:
seen_items = (
    test.ip.isin(train.ip.unique()).astype('int') +
    test.app.isin(train.app.unique()).astype('int') +
    test.app.isin(train.device.unique()).astype('int') +
    test.os.isin(train.os.unique())
)

In [35]:
# all channels been seen
seen_items += 1

In [36]:
seen_items.value_counts()

5    15139758
4     3441271
3      208103
2        1337
dtype: int64