In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('../data/train.csv')

In [3]:
train_sample = pd.read_csv('../data/train_sample.csv')

In [4]:
test = pd.read_csv('../data/test.csv')

In [5]:
test_sample = pd.read_csv('../data/test_supplement.csv')

In [6]:
dat = pd.concat([train, train_sample, test, test_sample])

In [7]:
dat.head()

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os
0,3,NaN,379,NaN,2017-11-06 14:32:21,1,83230,0.0,13
1,3,NaN,379,NaN,2017-11-06 14:33:34,1,17357,0.0,19
2,3,NaN,379,NaN,2017-11-06 14:34:12,1,35810,0.0,13
3,14,NaN,478,NaN,2017-11-06 14:34:52,1,45745,0.0,13
4,3,NaN,379,NaN,2017-11-06 14:35:08,1,161007,0.0,13

In [22]:
dat.app.isnull().sum()

0

In [23]:
dat.channel.isnull().sum()

0

In [24]:
dat.device.isnull().sum()

0

In [25]:
dat.ip.isnull().sum()

0

In [26]:
dat.os.isnull().sum()

0

In [9]:
dat.app.max()

768

In [10]:
dat.channel.max()

500

In [11]:
dat.channel.min()

0

In [12]:
dat.click_id.max()

57537504.0

In [13]:
dat.device.max()

4227

In [14]:
dat.ip.max()

364778

In [15]:
dat.ip.min()

0

In [16]:
dat.os.max()

956

Based on the max value, app, channel, device, and os can be uint16; click_id and ip can be uint32, is_attributed can be uint8.

In [27]:
dat.loc[:, 'click_id'] = dat.click_id.fillna(0)

In [28]:
dat.click_id.isnull().sum()

0

In [29]:
dat.loc[:, 'is_attributed'].fillna(0, inplace=True)

In [30]:
dat.is_attributed.isnull().sum()

0

In [31]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261331864 entries, 0 to 57537504
Data columns (total 9 columns):
app                int64
attributed_time    object
channel            int64
click_id           float64
click_time         object
device             int64
ip                 int64
is_attributed      float64
os                 int64
dtypes: float64(2), int64(5), object(2)
memory usage: 24.5+ GB

In [19]:
dtypes = {
    'app': 'uint16',
    'channel': 'uint16',
    'click_id': 'uint32',
    'device': 'uint16',
    'ip': 'uint32',
    'is_attributed': 'uint8',
    'os': 'uint16'
}

In [37]:
dat.astype(dtypes, inplace=True)

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os
0,3,NaN,379,0,2017-11-06 14:32:21,1,83230,0,13
1,3,NaN,379,0,2017-11-06 14:33:34,1,17357,0,19
2,3,NaN,379,0,2017-11-06 14:34:12,1,35810,0,13
3,14,NaN,478,0,2017-11-06 14:34:52,1,45745,0,13
4,3,NaN,379,0,2017-11-06 14:35:08,1,161007,0,13
5,3,NaN,379,0,2017-11-06 14:36:26,1,18787,0,16
6,3,NaN,379,0,2017-11-06 14:37:44,1,103022,0,23
7,3,NaN,379,0,2017-11-06 14:37:59,1,114221,0,19
8,3,NaN,379,0,2017-11-06 14:38:10,1,165970,0,13
9,64,NaN,459,0,2017-11-06 14:38:23,1,74544,0,22
10,3,NaN,379,0,2017-11-06 14:38:27,1,172522,0,25
11,3,NaN,379,0,2017-11-06 14:38:51,1,105861,0,13
12,3,NaN,379,0,2017-11-06 14:39:29,1,210962,0,19
13,3,NaN,379,0,2017-11-06 14:40:16,1,124979,0,18
14,3,NaN,379,0,2017-11-06 14:40:39,1,38816,0,18
15,3,NaN,379,0,2017-11-06 14:40:51,1,80447,0,19
16,3,NaN,379,0,2017-11-06 14:43:10,1,134575,0,13
17,3,NaN,379,0,2017-11-06 14:43:14,1,57576,0,19
18,3,NaN,379,0,2017-11-06 14:43:25,1,7755,0,13
19,3,NaN,379,0,2017-11-06 14:43:51,1,91749,0,19
20,3,NaN,379,0,2017-11-06 14:44:02,1,50694,0,18
21,3,NaN,379,0,2017-11-06 14:44:15,1,111385,0,18
22,14,NaN,478,0,2017-11-06 14:44:51,1,125222,0,3
23,3,NaN,379,0,2017-11-06 14:44:51,1,191759,0,13
24,3,NaN,379,0,2017-11-06 14:44:52,1,53418,0,17
25,3,NaN,379,0,2017-11-06 14:47:49,1,183168,0,19
26,3,NaN,379,0,2017-11-06 14:48:07,1,47902,0,17
27,3,NaN,379,0,2017-11-06 14:48:55,1,209663,0,13
28,3,NaN,379,0,2017-11-06 14:49:36,1,129614,0,20
29,3,NaN,379,0,2017-11-06 14:49:38,1,208347,0,19
...,...,...,...,...,...,...,...,...,...
57537475,19,NaN,213,57537475,2017-11-10 16:00:00,0,82283,0,29
57537476,18,NaN,439,57537476,2017-11-10 16:00:00,2,5314,0,9
57537477,12,NaN,497,57537477,2017-11-10 16:00:00,1,117180,0,10
57537478,9,NaN,107,57537478,2017-11-10 16:00:00,1,4414,0,15
57537479,26,NaN,121,57537479,2017-11-10 16:00:00,1,113263,0,19
57537480,18,NaN,107,57537480,2017-11-10 16:00:00,1,5348,0,13
57537481,2,NaN,122,57537481,2017-11-10 16:00:00,1,69733,0,17
57537482,3,NaN,424,57537482,2017-11-10 16:00:00,1,100275,0,13
57537483,25,NaN,259,57537483,2017-11-10 16:00:00,1,77328,0,13
57537484,26,NaN,121,57537484,2017-11-10 16:00:00,1,103413,0,37
57537485,2,NaN,452,57537485,2017-11-10 16:00:00,1,99206,0,23
57537486,9,NaN,466,57537486,2017-11-10 16:00:00,1,17610,0,18
57537487,12,NaN,326,57537487,2017-11-10 16:00:00,1,73516,0,14
57537488,18,NaN,107,57537488,2017-11-10 16:00:00,1,10551,0,19
57537489,18,NaN,265,57537489,2017-11-10 16:00:00,1,118229,0,17
57537490,9,NaN,489,57537490,2017-11-10 16:00:00,1,105170,0,37
57537491,15,NaN,130,57537491,2017-11-10 16:00:00,1,25648,0,19
57537492,3,NaN,404,57537492,2017-11-10 16:00:00,5,15026,0,45
57537493,26,NaN,266,57537493,2017-11-10 16:00:00,1,89982,0,19
57537494,2,NaN,205,57537494,2017-11-10 16:00:00,1,25614,0,19
57537495,24,NaN,105,57537495,2017-11-10 16:00:00,2,49602,0,47
57537496,18,NaN,376,57537496,2017-11-10 16:00:00,1,65575,0,47
57537497,15,NaN,315,57537497,2017-11-10 16:00:00,2,72986,0,17
57537498,10,NaN,113,57537498,2017-11-10 16:00:00,1,90850,0,6
57537499,2,NaN,377,57537499,2017-11-10 16:00:00,1,25648,0,19
57537500,13,NaN,400,57537500,2017-11-10 16:00:00,1,49553,0,16
57537501,2,NaN,237,57537501,2017-11-10 16:00:00,1,63438,0,19
57537502,18,NaN,121,57537502,2017-11-10 16:00:00,1,111786,0,22
57537503,1,NaN,153,57537503,2017-11-10 16:00:00,1,56730,0,13
57537504,14,NaN,379,57537504,2017-11-10 16:00:00,1,25648,0,19

In [38]:
dat = _

In [40]:
dat.shape

(261331864, 9)

In [41]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261331864 entries, 0 to 57537504
Data columns (total 9 columns):
app                uint16
attributed_time    object
channel            uint16
click_id           uint32
click_time         object
device             uint16
ip                 uint32
is_attributed      uint8
os                 uint16
dtypes: object(2), uint16(4), uint32(2), uint8(1)
memory usage: 15.0+ GB

In [33]:
%who

dat	 dtypes	 pd	 test	 test_sample	 train	 train_sample

In [34]:
del test
del test_sample
del train
del train_sample

In [35]:
import gc

In [36]:
gc.collect()

3658