In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
dtypes = {
    'ip'            : 'uint32',
    'app'           : 'uint16',
    'device'        : 'uint16',
    'os'            : 'uint16',
    'channel'       : 'uint16',
    'is_attributed' : 'uint8',
    'click_id'      : 'uint32'
}

In [3]:
train_usecols = ['ip', 'app', 'device', 'os', 'channel', 'is_attributed']

In [4]:
train = pd.read_csv('../data/train.csv', dtype=dtypes, usecols=train_usecols)

In [5]:
train.head()

       ip  app  device  os  channel  is_attributed
0   83230    3       1  13      379              0
1   17357    3       1  19      379              0
2   35810    3       1  13      379              0
3   45745   14       1  13      478              0
4  161007    3       1  13      379              0

In [6]:
train_sample = pd.read_csv('../data/train_sample.csv', dtype=dtypes, usecols=train_usecols)

In [7]:
test = pd.read_csv('../data/test.csv', dtype=dtypes, usecols=train_usecols[:-1])

In [8]:
test_sample = pd.read_csv('../data/test_supplement.csv', dtype=dtypes, usecols=train_usecols[:-1])

In [9]:
test = pd.concat([test, test_sample])

In [10]:
test.head()

       ip  app  device  os  channel
0    5744    9       1   3      107
1  119901    9       1   3      466
2   72287   21       1  19      128
3   78477   15       1  13      111
4  123080   12       1  13      328

In [11]:
test.isnull().sum()

ip         0
app        0
device     0
os         0
channel    0
dtype: int64

In [12]:
import pickle

In [13]:
with open('../results/random_forest_no_feat_eng_{}.pk'.format(10), 'rb') as f:
    rfc = pickle.load(f)

In [14]:
rfc

(10,
 0.8544131901378994,
 RandomForestClassifier(bootstrap=True, class_weight={0: 1, 1: 10},
             criterion='gini', max_depth=None, max_features='auto',
             max_leaf_nodes=None, min_impurity_split=1e-07,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=4,
             oob_score=False, random_state=None, verbose=0,
             warm_start=False))

In [15]:
pred = rfc[2].predict(test)

In [16]:
test.loc[:, 'is_attributed'] = pred

In [21]:
test.is_attributed.value_counts(normalize=True)

0    0.997094
1    0.002906
Name: is_attributed, dtype: float64

In [18]:
test.head()

       ip  app  device  os  channel  is_attributed
0    5744    9       1   3      107              0
1  119901    9       1   3      466              0
2   72287   21       1  19      128              0
3   78477   15       1  13      111              0
4  123080   12       1  13      328              0

In [19]:
train.head()

       ip  app  device  os  channel  is_attributed
0   83230    3       1  13      379              0
1   17357    3       1  19      379              0
2   35810    3       1  13      379              0
3   45745   14       1  13      478              0
4  161007    3       1  13      379              0

In [22]:
train = pd.concat([train, test])

In [23]:
%who

dtypes	 f	 np	 pd	 pickle	 pred	 rfc	 test	 test_sample
train	 train_sample	 train_usecols

In [24]:
del pred
del test
del test_sample
del train_sample

In [25]:
import gc

In [26]:
gc.collect()

2220

In [29]:
rfc = rfc[2]

In [ ]:
rfc.fit(train.iloc[:, :-1], train.iloc[:, -1])