In [1]:
import pandas as pd

In [7]:
dat1 = pd.read_csv('../results/final1.csv')

In [9]:
dat1.head()

   click_id  is_attributed
0         0       0.194446
1         1       0.059832
2         2       0.016989
3         3       0.057778
4         4       0.025759

In [8]:
dat2 = pd.read_csv('../results/final2.csv')

In [10]:
dat2.head()

   click_id  is_attributed
0         0       0.252236
1         1       0.082145
2         2       0.013022
3         3       0.038479
4         4       0.020444

In [11]:
dat1.loc[:, 'is_attributed'] = (dat1.loc[:, 'is_attributed'] + dat2.loc[:, 'is_attributed']) / 2

In [12]:
dat1.head()

   click_id  is_attributed
0         0       0.223341
1         1       0.070989
2         2       0.015005
3         3       0.048129
4         4       0.023101

In [13]:
dat1.to_csv('../results/final1_2.csv', float_format='%.9f', index=False)

In [ ]:
dat