In [1]:
import pandas as pd

In [7]:
dat1 = pd.read_csv('../results/final3.csv')

In [8]:
dat1.head()

   click_id  is_attributed
0         0       0.175618
1         1       0.079657
2         2       0.011602
3         3       0.038028
4         4       0.021625

In [12]:
dat1.iloc[3344125:, 1] = 0.9

In [13]:
dat1.tail()

          click_id  is_attributed
18790464  18790464            0.9
18790465  18790465            0.9
18790466  18790467            0.9
18790467  18790466            0.9
18790468  18790468            0.9

In [14]:
dat1.to_csv('../results/cheeky.csv', float_format='%.9f', index=False)

In [8]:
dat2 = pd.read_csv('../results/final2.csv')

In [10]:
dat2.head()

   click_id  is_attributed
0         0       0.252236
1         1       0.082145
2         2       0.013022
3         3       0.038479
4         4       0.020444

In [11]:
dat1.loc[:, 'is_attributed'] = (dat1.loc[:, 'is_attributed'] + dat2.loc[:, 'is_attributed']) / 2

In [12]:
dat1.head()

   click_id  is_attributed
0         0       0.223341
1         1       0.070989
2         2       0.015005
3         3       0.048129
4         4       0.023101

In [13]:
dat1.to_csv('../results/final1_2.csv', float_format='%.9f', index=False)

In [ ]:
dat