In [1]:
%matplotlib inline
import pandas as pd

In [2]:
test = pd.read_csv('../data/test.csv')

In [3]:
test.head()

   click_id      ip  app  device  os  channel           click_time
0         0    5744    9       1   3      107  2017-11-10 04:00:00
1         1  119901    9       1   3      466  2017-11-10 04:00:00
2         2   72287   21       1  19      128  2017-11-10 04:00:00
3         3   78477   15       1  13      111  2017-11-10 04:00:00
4         4  123080   12       1  13      328  2017-11-10 04:00:00

In [4]:
test = test.sort_values(['ip', 'app', 'device', 'os', 'channel'])

In [6]:
test.head(10)

          click_id  ip  app  device  os  channel           click_time
2890381    2890381   0    0       0   0      101  2017-11-10 04:51:27
3036280    3036280   0    0       0   0      101  2017-11-10 04:54:10
3055962    3055961   1   10       1   7      113  2017-11-10 04:54:32
12491273  12491273   2    1       1  13      371  2017-11-10 13:03:16
12491143  12491143   2    3       1  13      371  2017-11-10 13:03:16
12490244  12490244   2    6       1  13      459  2017-11-10 13:03:15
12491492  12491492   2   12       1  13      265  2017-11-10 13:03:17
11125123  11125123   2   15       1  13      245  2017-11-10 10:37:15
5747262    5747262   3    1       1  10      125  2017-11-10 05:49:36
3854644    3854644   3    2       1  16      237  2017-11-10 05:09:59

In [7]:
test.shape

(18790469, 7)

In [9]:
test.drop_duplicates(['ip', 'app', 'device', 'os', 'channel']).shape

(10247997, 7)