In [1]:
%matplotlib inline
import pandas as pd

In [2]:
train = pd.read_csv('../data/train.csv')

In [3]:
train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0

In [4]:
train.loc[train.ip == 83230, 'is_attributed'].value_counts()

0    25676
1       43
Name: is_attributed, dtype: int64

In [11]:
subset = train.loc[train.ip == 83230].sort_values(['ip', 'app', 'device', 'os', 'channel', 'click_time'])

In [12]:
subset.shape

(25719, 8)

In [13]:
subset.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
83340966,83230,1,1,1,17,2017-11-08 04:18:42,NaN,0
83740504,83230,1,1,1,17,2017-11-08 04:25:25,NaN,0
159400686,83230,1,1,1,134,2017-11-09 08:04:43,NaN,0
166483312,83230,1,1,1,134,2017-11-09 10:28:01,NaN,0
130842586,83230,1,1,1,135,2017-11-08 23:36:31,NaN,0

In [14]:
gpd = subset.groupby(['ip', 'app', 'device', 'os', 'channel'])

In [15]:
avg_attr = gpd['is_attributed'].mean()

In [16]:
avg_attr.head()

ip     app  device  os  channel
83230  1    1       1   17         0.0
                        134        0.0
                        135        0.0
                        153        0.0
                        377        0.0
Name: is_attributed, dtype: float64

In [17]:
avg_attr.loc[(avg_attr > 0) & (avg_attr < 1)]

ip     app  device  os   channel
83230  8    1       15   145        0.083333
                    22   145        0.052632
       9    1       19   334        0.004950
       10   1       8    317        0.333333
                    13   113        0.166667
       11   1       19   122        0.071429
       18   1       28   107        0.200000
       19   0       0    213        0.285714
                    21   213        0.200000
                    24   213        0.235294
                         347        0.500000
                    38   333        0.125000
                    748  347        0.333333
            116     24   213        0.333333
       20   1       13   478        0.050000
       29   1       18   213        0.333333
                    19   213        0.090909
       35   1       13   21         0.750000
       37   1       19   21         0.142857
       62   1       19   21         0.500000
Name: is_attributed, dtype: float64

In [18]:
subset.loc[
    (subset.ip == 83230) &
    (subset.app == 8) &
    (subset.device == 1) &
    (subset.os == 15) &
    (subset.channel == 145)
]

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
157113888,83230,8,1,15,145,2017-11-09 07:18:54,NaN,0
157243370,83230,8,1,15,145,2017-11-09 07:21:18,NaN,0
157262874,83230,8,1,15,145,2017-11-09 07:21:38,NaN,0
157308628,83230,8,1,15,145,2017-11-09 07:22:28,NaN,0
157316808,83230,8,1,15,145,2017-11-09 07:22:37,NaN,0
157340150,83230,8,1,15,145,2017-11-09 07:23:02,NaN,0
157423291,83230,8,1,15,145,2017-11-09 07:24:35,NaN,0
157448117,83230,8,1,15,145,2017-11-09 07:25:03,NaN,0
157478822,83230,8,1,15,145,2017-11-09 07:25:37,NaN,0
157499494,83230,8,1,15,145,2017-11-09 07:25:59,NaN,0
157515590,83230,8,1,15,145,2017-11-09 07:26:17,NaN,0
157534568,83230,8,1,15,145,2017-11-09 07:26:37,2017-11-09 08:54:40,1

In [19]:
subset.loc[
    (subset.ip == 83230) &
    (subset.app == 62) &
    (subset.device == 1) &
    (subset.os == 19) &
    (subset.channel == 21)
]

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
14721564,83230,62,1,19,21,2017-11-07 01:32:14,2017-11-07 06:48:34,1
159985403,83230,62,1,19,21,2017-11-09 08:17:07,NaN,0