In [1]:
import pandas as pd

In [2]:
rf = pd.read_csv('random_forest_min_sample_leaf5_estimator200.csv')

In [3]:
gbc = pd.read_csv('gbc_100estimators.csv')

In [4]:
xgb = pd.read_csv('xgb_benchmark.csv')

In [4]:
rf.head()

   QuoteConversion_Flag  QuoteNumber
0              0.028991            3
1              0.097655            5
2              0.048399            7
3              0.006331            9
4              0.228045           10

In [5]:
gbc.head()

   QuoteConversion_Flag  QuoteNumber
0              0.007761            3
1              0.068252            5
2              0.060765            7
3              0.034560            9
4              0.199125           10

In [5]:
con = gbc.copy()

In [9]:
con.loc[:, 'QuoteConversion_Flag'] = (gbc.loc[:, 'QuoteConversion_Flag'] 
                                      + rf.loc[:, 'QuoteConversion_Flag']
                                      + xgb.loc[:, 'QuoteConversion_Flag']) / 3

In [7]:
con.head()

   QuoteConversion_Flag  QuoteNumber
0              0.021914            3
1              0.087854            5
2              0.052521            7
3              0.015740            9
4              0.218405           10

In [10]:
con.to_csv('gbc_rf_xgb.csv', index=False)