In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
train = pd.read_csv('train.csv')

In [63]:
train.loc[:, 'Original_Quote_Date'] = pd.to_datetime(train.loc[:, 'Original_Quote_Date'])

In [3]:
train.shape

(260753, 299)

In [3]:
train.loc[:, train.isnull().any().values].head()

,PersonalField7,PersonalField84,PropertyField3,PropertyField4,PropertyField29,PropertyField32,PropertyField34,PropertyField36,PropertyField38
0,N,2,N,N,0,Y,Y,N,N
1,N,NaN,N,N,NaN,N,Y,N,N
2,N,NaN,Y,Y,NaN,Y,Y,N,N
3,N,NaN,N,N,NaN,Y,N,N,N
4,N,2,Y,Y,0,N,N,N,N

In [15]:
train_to_save.PersonalField29.value_counts()

1    139141
2    107528
3     13714
4       312
5        34
7        13
6        11
dtype: int64

In [91]:
train_to_save = train.copy()

In [92]:
train_to_save.loc[:, 'PersonalField7'] = train_to_save.loc[:, 'PersonalField7'].fillna('Unknown')

In [93]:
train_to_save.loc[:, 'PropertyField3'] = train_to_save.loc[:, 'PropertyField3'].fillna('Unknown')

In [94]:
train_to_save.loc[:, 'PropertyField4'] = train_to_save.loc[:, 'PropertyField4'].fillna('Unknown')

In [95]:
train_to_save.loc[:, 'PropertyField32'] = train_to_save.loc[:, 'PropertyField32'].fillna('Unknown')

In [96]:
train_to_save.loc[:, 'PropertyField34'] = train_to_save.loc[:, 'PropertyField34'].fillna('Unknown')

In [97]:
train_to_save.loc[:, 'PropertyField36'] = train_to_save.loc[:, 'PropertyField36'].fillna('Unknown')

In [98]:
train_to_save.loc[:, 'PropertyField38'] = train_to_save.loc[:, 'PropertyField38'].fillna('Unknown')

In [99]:
train_to_save.loc[:, 'PersonalField84'] = train_to_save.loc[:, 'PersonalField84'].fillna(-999)

In [100]:
train_to_save.loc[:, 'PropertyField29'] = train_to_save.loc[:, 'PropertyField29'].fillna(-999)

In [101]:
train_to_save.loc[:, 'Field10'] = train_to_save.loc[:, 'Field10'].str.replace(',', '').astype('float')

In [102]:
train_to_save.loc[:, 'year'] = train_to_save.loc[:, 'Original_Quote_Date'].dt.year.apply(lambda x: str(x))
train_to_save.loc[:, 'month'] = train_to_save.loc[:, 'Original_Quote_Date'].dt.month.apply(lambda x: str(x))
train_to_save.loc[:, 'dayofweek'] = train_to_save.loc[:, 'Original_Quote_Date'].dt.dayofweek.apply(lambda x: str(x))

In [105]:
train_to_save = train_to_save.drop('Original_Quote_Date', axis=1)

In [106]:
train_to_save.to_csv('train_fillna.csv', index=False)

In [107]:
object_index = train_to_save.select_dtypes(exclude=['number']).dtypes.index

In [108]:
train_to_transform = pd.DataFrame({})
for oi in object_index:
    train_to_transform.loc[:, oi] = oi + train_to_save.loc[:, oi]

In [109]:
train_to_transform.shape

(260753, 29)

In [126]:
test = pd.read_csv('test.csv')

In [127]:
test.loc[:, 'Original_Quote_Date'] = pd.to_datetime(test.loc[:, 'Original_Quote_Date'])

In [111]:
test.loc[:, test.isnull().any().values].head()

,PersonalField7,PersonalField84,PropertyField3,PropertyField4,PropertyField5,PropertyField29,PropertyField30,PropertyField32,PropertyField34,PropertyField36,PropertyField38
0,N,NaN,N,N,Y,NaN,N,Y,N,N,N
1,N,NaN,N,N,Y,NaN,N,Y,N,N,N
2,N,NaN,N,N,Y,NaN,N,Y,Y,N,N
3,N,NaN,N,N,Y,NaN,N,N,N,N,N
4,N,2,N,N,Y,NaN,N,Y,N,Y,N

In [128]:
test_to_save = test.copy()

In [129]:
test_to_save.loc[:, 'PersonalField7'] = test_to_save.loc[:, 'PersonalField7'].fillna('Unknown')

In [130]:
test_to_save.loc[:, 'PropertyField3'] = test_to_save.loc[:, 'PropertyField3'].fillna('Unknown')

In [131]:
test_to_save.loc[:, 'PropertyField4'] = test_to_save.loc[:, 'PropertyField4'].fillna('Unknown')

In [132]:
test_to_save.loc[:, 'PropertyField5'] = test_to_save.loc[:, 'PropertyField5'].fillna('Unknown')

In [133]:
test_to_save.loc[:, 'PropertyField30'] = test_to_save.loc[:, 'PropertyField30'].fillna('Unknown')

In [134]:
test_to_save.loc[:, 'PropertyField32'] = test_to_save.loc[:, 'PropertyField32'].fillna('Unknown')

In [135]:
test_to_save.loc[:, 'PropertyField34'] = test_to_save.loc[:, 'PropertyField34'].fillna('Unknown')

In [136]:
test_to_save.loc[:, 'PropertyField36'] = test_to_save.loc[:, 'PropertyField36'].fillna('Unknown')

In [137]:
test_to_save.loc[:, 'PropertyField38'] = test_to_save.loc[:, 'PropertyField38'].fillna('Unknown')

In [138]:
test_to_save.loc[:, 'PersonalField84'] = test_to_save.loc[:, 'PersonalField84'].fillna(-999)

In [139]:
test_to_save.loc[:, 'PropertyField29'] = test_to_save.loc[:, 'PropertyField29'].fillna(-999)

In [140]:
test_to_save.loc[:, 'Field10'] = test_to_save.loc[:, 'Field10'].str.replace(',', '').astype('float')

In [141]:
test_to_save.loc[:, 'year'] = test_to_save.loc[:, 'Original_Quote_Date'].dt.year.apply(lambda x: str(x))
test_to_save.loc[:, 'month'] = test_to_save.loc[:, 'Original_Quote_Date'].dt.month.apply(lambda x: str(x))
test_to_save.loc[:, 'dayofweek'] = test_to_save.loc[:, 'Original_Quote_Date'].dt.dayofweek.apply(lambda x: str(x))

In [142]:
test_to_save = test_to_save.drop('Original_Quote_Date', axis=1)

In [143]:
test_to_save.to_csv('test_fillna.csv', index=False)

In [144]:
test_to_transform = pd.DataFrame({})
for oi in object_index:
    test_to_transform.loc[:, oi] = oi + test_to_save.loc[:, oi]

In [145]:
to_transform = pd.concat([train_to_transform, test_to_transform])

In [146]:
to_transform.shape

(434589, 29)

In [148]:
mlb = MultiLabelBinarizer()

In [149]:
mlb.fit(to_transform.values)

MultiLabelBinarizer(classes=None, sparse_output=False)

In [150]:
train_bin = mlb.transform(train_to_transform.values)
train_bin = pd.DataFrame(train_bin, columns=mlb.classes_)
train_dataset = pd.concat([train_to_save.select_dtypes(include=['number']), train_bin], axis=1)

In [151]:
test_bin = mlb.transform(test_to_transform.values)
test_bin = pd.DataFrame(test_bin, columns=mlb.classes_)
test_dataset = pd.concat([test_to_save.select_dtypes(include=['number']), test_bin], axis=1)

In [152]:
train_dataset.to_csv('train_dataset.csv', index=False)

In [153]:
test_dataset.to_csv('test_dataset.csv', index=False)