In [1]:
import numpy as np
import pandas as pd

In [2]:
rf = pd.read_csv('randomforest.csv')

In [3]:
loc = pd.read_csv('location.csv')

In [4]:
rf.head()

      id  predict_0  predict_1  predict_2
0  11066   1.000000   0.000000   0.000000
1  18000   0.101329   0.013493   0.885179
2  16964   1.000000   0.000000   0.000000
3   4795   0.598084   0.382568   0.019347
4   3392   0.240720   0.759280   0.000000

In [5]:
conso = rf.copy()

In [7]:
conso.loc[:, 'predict_0':'predict_2'] = .5*conso.loc[:, 'predict_0':'predict_2'] + .5*loc.loc[:, 'predict_0':'predict_2']

In [8]:
conso.head()

      id  predict_0  predict_1  predict_2
0  11066   0.900000   0.075000   0.025000
1  18000   0.195109   0.140080   0.664812
2  16964   1.000000   0.000000   0.000000
3   4795   0.632375   0.357951   0.009674
4   3392   0.331298   0.442140   0.226562

In [9]:
conso.to_csv('blend.csv', index=False)