In [1]:
import numpy as np
import pandas as pd

In [2]:
dat = pd.read_csv('train.csv')

In [19]:
dat.shape

(7381, 3)

In [3]:
dat.head()

      id      location  fault_severity
0  14121  location 118               1
1   9320   location 91               0
2  14394  location 152               1
3   8218  location 931               1
4  14804  location 120               0

In [33]:
dat.loc[(dat.loc[:, 'id'] == 14121).values]

      id      location  fault_severity
0  14121  location 118               1

In [37]:
dat.loc[(dat.loc[:, 'location'] == 'location 118').values]

         id      location  fault_severity
0     14121  location 118               1
94     6821  location 118               0
103   12008  location 118               0
228   18441  location 118               0
897    9479  location 118               0
1018   2627  location 118               0
1201   3072  location 118               0
1434   8714  location 118               0
1678  14167  location 118               0
1910   8676  location 118               0
1930  14538  location 118               0
2110   1805  location 118               0
2571  15576  location 118               0
2835   6206  location 118               0
2894  11697  location 118               0
3731   2364  location 118               0
4089  17252  location 118               0
4301  16023  location 118               0
4662   8002  location 118               0
4767   1014  location 118               0
4835    474  location 118               0
5106    727  location 118               0
5120   4384  location 118               1
5504    731  location 118               0
5742  14559  location 118               0
5966  10964  location 118               0
6098  17307  location 118               0
6230    107  location 118               1
6242  15725  location 118               0
6584   7495  location 118               0
6712   9463  location 118               0
6971  18104  location 118               0
6982   2387  location 118               0

In [18]:
dat.id.nunique()

7381

In [20]:
dat.location.nunique()

929

In [3]:
test = pd.read_csv('test.csv')

In [39]:
test.loc[test.id.isin(dat.id), 'id'].nunique()

0

In [24]:
test.shape

(11171, 2)

In [5]:
test.head()

      id      location
0  11066  location 481
1  18000  location 962
2  16964  location 491
3   4795  location 532
4   3392  location 600

In [23]:
test.id.nunique()

11171

In [26]:
test.location.nunique()

1039

In [5]:
event = pd.read_csv('event_type.csv')

In [22]:
event.id.nunique()

18552

In [21]:
event.shape

(31170, 2)

In [17]:
event.head()

     id     event_type
0  6597  event_type 11
1  8011  event_type 15
2  2597  event_type 15
3  5022  event_type 15
4  5022  event_type 11

In [27]:
event.loc[:, 'id'].nunique()

18552

In [7]:
event_index = event.set_index(['id', 'event_type']).index
event_1 = pd.Series(1, index=event_index)
event_type = event_1.unstack(level=1).fillna(0)

In [51]:
event.loc[(event.loc[:, 'id'] == 1).values]

       id     event_type
18299   1  event_type 11
18300   1  event_type 13

In [52]:
logf.loc[(logf.loc[:, 'id'] == 1).values]

       id  log_feature  volume
36197   1   feature 68       2
36198   1  feature 345       2
36199   1  feature 179       1

In [43]:
event_by_id = event.groupby('id')

In [45]:
event_type = event_by_id['event_type'].apply(lambda x: x.tolist())

In [46]:
event_type.head()

id
1    [event_type 11, event_type 13]
2    [event_type 35, event_type 34]
3                   [event_type 11]
4                   [event_type 47]
5    [event_type 34, event_type 35]
Name: event_type, dtype: object

In [8]:
logf = pd.read_csv('log_feature.csv')

In [9]:
logf.head()

     id  log_feature  volume
0  6597   feature 68       6
1  8011   feature 68       7
2  2597   feature 68       1
3  5022  feature 172       2
4  5022   feature 56       1

In [50]:
logf.loc[(logf.loc[:, 'id'] == 1).values]

       id  log_feature  volume
36197   1   feature 68       2
36198   1  feature 345       2
36199   1  feature 179       1

In [9]:
log_series = logf.set_index(['id', 'log_feature'])

In [10]:
log_series_re = log_series.unstack(level=1).fillna(0)

In [65]:
log_series_re.head()

               volume                                                 \
log_feature feature 1 feature 10 feature 100 feature 101 feature 102
id
1                   0          0           0           0           0
2                   0          0           0           0           0
3                   0          0           0           0           0
4                   0          0           0           0           0
5                   0          0           0           0           0

                                                                         \
log_feature feature 103 feature 104 feature 105 feature 106 feature 107
id
1                     0           0           0           0           0
2                     0           0           0           0           0
3                     0           0           0           0           0
4                     0           0           0           0           0
5                     0           0           0           0           0

               ...                                                             \
log_feature    ...     feature 90 feature 91 feature 92 feature 93 feature 94
id             ...
1              ...              0          0          0          0          0
2              ...              0          0          0          0          0
3              ...              0          0          0          0          0
4              ...              0          0          0          0          0
5              ...              0          0          0          0          0


log_feature feature 95 feature 96 feature 97 feature 98 feature 99
id
1                    0          0          0          0          0
2                    0          0          0          0          0
3                    0          0          0          0          0
4                    0          0          0          0          0
5                    0          0          0          0          0

[5 rows x 386 columns]

In [15]:
resource = pd.read_csv('resource_type.csv')

In [11]:
resource.head()

     id    resource_type
0  6597  resource_type 8
1  8011  resource_type 8
2  2597  resource_type 8
3  5022  resource_type 8
4  6852  resource_type 8

In [30]:
resource.loc[(resource.loc[:, 'id'] == 14121).values]

         id    resource_type
3545  14121  resource_type 2

In [16]:
res_index = resource.set_index(['id', 'resource_type']).index
res_1 = pd.Series(1, index=res_index)
res_type = res_1.unstack(level=1).fillna(0)

In [22]:
sev = pd.read_csv('severity_type.csv')

In [23]:
sev.head()

     id    severity_type
0  6597  severity_type 2
1  8011  severity_type 2
2  2597  severity_type 2
3  5022  severity_type 1
4  6852  severity_type 1

In [31]:
sev.loc[(sev.loc[:, 'id'] == 14121).values]

         id    severity_type
3154  14121  severity_type 2

In [26]:
sev_index = sev.set_index(['id', 'severity_type']).index
sev_1 = pd.Series(1, index=sev_index)
sev_type = sev_1.unstack(level=1).fillna(0)

In [27]:
sev_type.head()

severity_type,severity_type 1,severity_type 2,severity_type 3,severity_type 4,severity_type 5
id,,,,,
1,1,0,0,0,0
2,0,1,0,0,0
3,1,0,0,0,0
4,0,0,0,1,0
5,0,1,0,0,0

In [14]:
sample = pd.read_csv('sample_submission.csv')

In [36]:
sample.predict_2.value_counts()

0    11171
dtype: int64

In [28]:
train_dat = pd.merge(dat, sev_type.reset_index(), on='id', how='left')
train_dat = pd.merge(train_dat, res_type.reset_index(), on='id', how='left')
train_dat = pd.merge(train_dat, log_series_re.loc[:, 'volume'].reset_index(), on='id', how='left')
train_dat = pd.merge(train_dat, event_type.reset_index(), on='id', how='left')

In [29]:
train_dat.head()

,id,location,fault_severity,severity_type 1,severity_type 2,severity_type 3,severity_type 4,severity_type 5,resource_type 1,resource_type 10,...,event_type 5,event_type 50,event_type 51,event_type 52,event_type 53,event_type 54,event_type 6,event_type 7,event_type 8,event_type 9
0,14121,location 118,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9320,location 91,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14394,location 152,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8218,location 931,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14804,location 120,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
_.loc[:, 'feature 312']

0    19
1     0
2     0
3     0
4     0
Name: feature 312, dtype: float64

In [33]:
train_dat.shape

(7381, 457)

In [30]:
train_dat.to_csv('train_dataset.csv', index=False)

In [31]:
test_dat = pd.merge(test, sev_type.reset_index(), on='id', how='left')
test_dat = pd.merge(test_dat, res_type.reset_index(), on='id', how='left')
test_dat = pd.merge(test_dat, log_series_re.loc[:, 'volume'].reset_index(), on='id', how='left')
test_dat = pd.merge(test_dat, event_type.reset_index(), on='id', how='left')

In [97]:
test.shape

(11171, 2)

In [32]:
test_dat.shape

(11171, 456)

In [34]:
test_dat.to_csv('test_dataset.csv', index=False)