In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
fault_severity = train.groupby('location')['fault_severity'].value_counts().unstack(level=1)

In [4]:
fault_severity.head()

                0   1   2
location
location 1     14   8   2
location 10     1 NaN NaN
location 100   13   2 NaN
location 1000   3 NaN NaN
location 1002   1 NaN NaN

In [5]:
fault_severity = fault_severity.fillna(0)

In [6]:
fault_severity_frac = fault_severity.div(fault_severity.sum(axis=1), axis=0)

In [7]:
fault_severity_frac.head()

                      0         1         2
location
location 1     0.583333  0.333333  0.083333
location 10    1.000000  0.000000  0.000000
location 100   0.866667  0.133333  0.000000
location 1000  1.000000  0.000000  0.000000
location 1002  1.000000  0.000000  0.000000

In [8]:
test = pd.read_csv('test.csv')

In [9]:
test.head()

      id      location
0  11066  location 481
1  18000  location 962
2  16964  location 491
3   4795  location 532
4   3392  location 600

In [12]:
location_pred = pd.merge(test, fault_severity_frac.reset_index(), on='location', how='left').fillna(0)

In [13]:
location_pred.head()

      id      location         0         1         2
0  11066  location 481  0.800000  0.150000  0.050000
1  18000  location 962  0.288889  0.266667  0.444444
2  16964  location 491  1.000000  0.000000  0.000000
3   4795  location 532  0.666667  0.333333  0.000000
4   3392  location 600  0.421875  0.125000  0.453125

In [14]:
location_res = pd.DataFrame({
    'id': location_pred.loc[:, 'id'].values, 
    'predict_0': location_pred.loc[:, 0],
    'predict_1': location_pred.loc[:, 1],
    'predict_2': location_pred.loc[:, 2]})

In [15]:
location_res.head()

      id  predict_0  predict_1  predict_2
0  11066   0.800000   0.150000   0.050000
1  18000   0.288889   0.266667   0.444444
2  16964   1.000000   0.000000   0.000000
3   4795   0.666667   0.333333   0.000000
4   3392   0.421875   0.125000   0.453125

In [16]:
location_res.to_csv('location.csv', index=False)