In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [5]:
train = pd.read_csv('train_dataset.csv')

In [6]:
test = pd.read_csv('test_dataset.csv')

In [7]:
train.head()

,id,location,fault_severity,severity_type 1,severity_type 2,severity_type 3,severity_type 4,severity_type 5,resource_type 1,resource_type 10,...,event_type 5,event_type 50,event_type 51,event_type 52,event_type 53,event_type 54,event_type 6,event_type 7,event_type 8,event_type 9
0,14121,location 118,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9320,location 91,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14394,location 152,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8218,location 931,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14804,location 120,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
sample = pd.read_csv('sample_submission.csv')

In [17]:
sample.head()

      id  predict_0  predict_1  predict_2
0  11066          0          1          0
1  18000          0          1          0
2  16964          0          1          0
3   4795          0          1          0
4   3392          0          1          0

In [9]:
rfc = RandomForestClassifier(n_estimators=10)

In [11]:
rfc.fit(train.loc[:, 'severity_type 1': 'event_type 9'], train.loc[:, 'fault_severity'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [12]:
result = rfc.predict(test.loc[:, 'severity_type 1': 'event_type 9'])

In [13]:
result.shape

(11171,)

In [14]:
rfc.classes_

array([0, 1, 2])

In [15]:
prob = rfc.predict_proba(test.loc[:, 'severity_type 1': 'event_type 9'])

In [16]:
prob.shape

(11171, 3)

In [18]:
submit = pd.DataFrame({
    'id': sample.loc[:, 'id'].values, 
    'predict_0': prob[:, 0],
    'predict_1': prob[:, 1],
    'predict_2': prob[:, 2]})

In [19]:
submit.head()

      id  predict_0  predict_1  predict_2
0  11066   1.000000   0.000000        0.0
1  18000   0.100000   0.000000        0.9
2  16964   1.000000   0.000000        0.0
3   4795   0.800000   0.200000        0.0
4   3392   0.158175   0.841825        0.0

In [20]:
submit.to_csv('randomforest1.csv', index=False)